src/CzPtt/czptt.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    At first I tried to create an XML Schema (XSD) for the format,
    but after getting to a state when the schema had a few hundred lines but
    still wasn't complete, I decided to switch languages. This means that this
    file will need to be compiled to XSD (by trang) before it can be used with
    FSharp.Data. For convenience's sake, I decided to leave the generated file in
    the git repo
  -->
  <!--
    I used this wondeful book to learn the bits of RELAX NG that I needed to
    know: http://www.kosek.cz/xml/schema/index.html
  -->
  <!--
    This schema defines the CZPTTCISMessage XML object given to CIS JŘ per
    official SŽDC documentation ("Popis DJR_CIS_v1_04.pdf"). It contains
    only elements used in the docs sent to and publicly available from CIS JŘ
  -->
  <define name="company">
    <data type="string">
      <param name="pattern">[0-9]{4}</param>
    </data>
  </define>
  <define name="TransportIdentifier">
    <element name="ObjectType">
      <choice>
        <value>TR</value>
        <value>PA</value>
      </choice>
    </element>
    <element name="Company">
      <ref name="company"/>
    </element>
    <element name="Core">
      <data type="string">
        <param name="pattern">[0-9A-Z*\-]{12}</param>
      </data>
    </element>
    <element name="Variant">
      <data type="string">
        <param name="pattern">[0-9A-Z]{2}</param>
      </data>
    </element>
    <element name="TimetableYear">
      <data type="integer"/>
    </element>
  </define>
  <start>
    <element name="CZPTTCISMessage">
      <element name="Identifiers">
        <oneOrMore>
          <!-- Always exactly two, with ObjectType TR and PA -->
          <element name="PlannedTransportIdentifiers">
            <ref name="TransportIdentifier"/>
          </element>
        </oneOrMore>
      </element>
      <element name="CZPTTCreation">
        <data type="dateTime"/>
      </element>
      <element name="CZPTTInformation">
        <element name="PlannedCalendar">
          <element name="BitmapDays">
            <data type="string">
              <param name="pattern">[10]+</param>
            </data>
          </element>
          <element name="ValidityPeriod">
            <element name="StartDateTime">
              <data type="dateTime"/>
            </element>
            <element name="EndDateTime">
              <data type="dateTime"/>
            </element>
          </element>
        </element>
        <oneOrMore>
          <element name="CZPTTLocation">
            <attribute name="JourneyLocationTypeCode">
              <choice>
                <value>01</value>
                <value>02</value>
                <value>03</value>
                <value>04</value>
                <value>05</value>
                <value>06</value>
                <value>07</value>
              </choice>
            </attribute>
            <element name="CountryCodeISO">
              <data type="string"/>
            </element>
            <optional>
              <element name="LocationPrimaryCode">
                <data type="string">
                  <param name="pattern">[0-9]{5}</param>
                </data>
              </element>
            </optional>
            <element name="PrimaryLocationName">
              <data type="string"/>
            </element>
            <optional>
              <element name="LocationSubsidiaryIdentification">
                <element name="LocationSubsidiaryCode">
                  <attribute name="LocationSubsidiaryTypeCode">
                    <data type="string"/>
                  </attribute>
                  <data type="string"/>
                </element>
                <optional>
                  <element name="AllocationCompany">
                    <ref name="company"/>
                  </element>
                </optional>
                <optional>
                  <element name="LocationSubsidiaryName">
                    <data type="string"/>
                  </element>
                </optional>
              </element>
            </optional>
            <element name="TimingAtLocation">
              <optional>
                <element name="DwellTime">
                  <data type="decimal"/>
                </element>
              </optional>
              <zeroOrMore>
                <element name="Timing">
                  <attribute name="TimingQualifierCode">
                    <choice>
                      <value>ALA</value>
                      <value>ALD</value>
                    </choice>
                  </attribute>
                  <element name="Time">
                    <data type="time"/>
                  </element>
                  <element name="Offset">
                    <data type="integer"/>
                  </element>
                </element>
              </zeroOrMore>
            </element>
            <element name="ResponsibleRU">
              <ref name="company"/>
            </element>
            <element name="ResponsibleIM">
              <ref name="company"/>
            </element>
            <optional>
              <element name="TrainType">
                <value>1</value>
              </element>
            </optional>
            <optional>
              <element name="TrafficType">
                <data type="string">
                  <param name="pattern">[0-9A-B]{2}</param>
                </data>
              </element>
            </optional>
            <optional>
              <element name="CommercialTrafficType">
                <data type="string">
                  <param name="pattern">[0-9A-B]{2,4}</param>
                </data>
              </element>
            </optional>
            <optional>
              <element name="OperationalTrainNumber">
                <data type="string">
                  <param name="pattern">[0-9]{5,6}</param>
                </data>
              </element>
            </optional>
            <zeroOrMore>
              <element name="TrainActivity">
                <element name="TrainActivityType">
                  <data type="string">
                    <param name="pattern">[0-9A-Z]{4}</param>
                  </data>
                </element>
              </element>
            </zeroOrMore>
          </element>
        </oneOrMore>
      </element>
    </element>
  </start>
</grammar>
